// Your custom style
$myPrime: #2C4F6C;
$mySecondary: #A3CCC7;
$myOrange: #F6D8AE;
$myLightBlue: #BCD1E3;
$myBackground: #FAFAFA;

$titleFont-size: 1.25rem;
$titleLine-height: 1.4;
$subtitleFont-size: 2rem;
$paragraphFont-size: 1.125rem;
$paragraphLine-height: 1.5em;

/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html,
body,
.wide,
.view,
 {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: $myPrime;
    -webkit-font-smoothing: subpixel-antialiased;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  max-width: 25em;
  line-height: $titleLine-height;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: $paragraphFont-size;
  line-height: $paragraphLine-height;
  text-align: center;
  max-width: 35em;
}

.h3-responsive {
  font-size: $titleFont-size;
}

.h1-responsive {
  font-size: $subtitleFont-size;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: $myPrime; /* Set a background color */
    color: $myBackground; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

#backToTop.scrolled {
    display: block;
}

#nextSec {
    display: block; /* shown by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    z-index: 98; /* Make sure it does not overlap */
    background-color: transparent; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    box-shadow: none;
}

#nextSec.scrolled {
    display: none;
}

.navbar {
    background-color: $myPrime;
}

.navbar.scrolled {
  background-color: $myPrime;
  transition: background-color 200ms linear;
}

.navbar-brand {
  align-self: center;
  letter-spacing: 0.375rem;
  font-size: 1.25rem;
}

.collapse {
  .btn {
    font-size: 1rem;
  }
}

.bc-myPrime {
  background-color: $myPrime;
}

.bc-mySecondary {
  background-color: $mySecondary;
}

.bc-myBackground {
  background-color: $myBackground;
}

.bc-myOrange {
  background-color: $myOrange;
}

.bc-myLightBlue {
  background-color: $myLightBlue;
}

.btn-rounded {
    border-radius: 1000rem;
    font-size: larger;
}

.letter-spacing-3 {
  letter-spacing: 0.3rem;
}

.letter-spacing-2 {
  letter-spacing: 0.2rem;
}

.letter-spacing-1 {
  letter-spacing: 0.1rem;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: $myPrime;
}

.myPrime-text {
  color: $myPrime !important;
}

.mySecondary-text {
  color: $mySecondary !important;
}

.myLightBlue-text {
  color: $myLightBlue !important;
}

.parallax {
    background-attachment: fixed;
}

// .tag {
//   border-radius: 5px;
//   box-shadow: none;
//   font-size: 0.5rem;
//   cursor: auto;
// }

.mentorCard {
    position: relative;
    width: 30%;
    border-width: 2px;
    .view {
      height: auto;
    }
    border-color: #E0E0E0;
    border-style: solid;
    img {
      border-color: $myPrime;
      border-width: 2px;
      border-style: solid;
      position: absolute;
      top: -56px;
      left: 0;
      right: 0;
    }
    p {
      font-size: 0.75rem;
    }
}

#homeCover {
    background-image: url("../img/cover/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// #tempCover {
//     background-image: url("../img/cover/cover.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
// }

#value {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
}

#howItWorks {
   background-color: $mySecondary;
   // background-image: url("../img/cover/.jpg");
}

#mentors {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
}

#team {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
    p {
      font-size: 1rem;
    }
}

#partners {
    background-color: $myPrime;
    // background-image: url("../img/cover/.jpg");
}

#subscribe {
    /*background-image: url("../img/cover/.jpg");*/
    background-color: $myOrange;
    /*display: none;*/
}

#mc_embed_signup {
  width: 40%;
}

#mce-EMAIL {
  background-color: $myBackground !important;
  border-radius: 10000px !important;
  box-shadow: none !important;
  border-width: 0 !important;
  height: 100% !important;
  padding: 0 !important;
  min-height: 56px !important;
}

#mce-EMAIL::placeholder {
  color: $myPrime !important;
  margin-left: 1rem !important;
}

#submitBtn {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
}

#mc-embedded-subscribe {
  border-radius: 10000px !important;
  box-shadow: none;
  border-width: 3px !important;
  border-color: $myBackground !important;
}

.mce_inline_error {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 50 !important;
}

.md-form {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $myPrime;
    }
    .h5-responsive {
        font-size: 100%;
    }
    .h3-responsive {
      font-size: 1rem;
    }
    .h1-responsive {
      font-size: 1.5rem;
    }
    .mentorCard {
        width: 100%;
        margin-top: 5rem;
    }
    #mc_embed_signup {
      width: 100%;
    }
}

@media (min-width: 776px) {
}

@media (min-width: 1025px) {
}
