// Your custom style
$myPrime: #2C4F6C;
$mySecondary: #A3CCC7;
$myOrange: #F6D8AE;
$myLightBlue: #BCD1E3;
$myDarkBlue: #213C52;
$myBrown: #F2F2F2;
$myBackground: #FAFAFA;
$myBorderColor: #E0E0E0;

/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html,
body,
.wide,
.view,
.modal-content
 {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-variant-numeric: lining-nums;
    color: $myPrime;
    -webkit-font-smoothing: subpixel-antialiased;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 25em;
  // line-height: $titleLine-height;
}

h1, h1-responsive {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

h2, h2-responsive {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

h3, h3-responsive {
  font-weight: bolder;
  font-size: 20px;
  line-height: 23px;
}

h4, h4-responsive {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

h5, h5-responsive {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

h6, h6-responsive {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 35em;
}

.small-text {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

header {
  ul {
    display: flex;
  }
  // .btn-rounded {
  //   font-size: 1rem;
  // }
  // .btn {
  //   p {
  //     font-weight: 300 !important;
  //     text-transform: none !important;
  //   }
  // }
}

// .h3-responsive {
//   font-size: $titleFont-size;
// }
//
// .h1-responsive {
//   font-size: $subtitleFont-size;
// }

.rounded-md-right {
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}

#bottomNav {
  display: none !important;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: $myPrime; /* Set a background color */
    color: $myBackground; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

#backToTop.scrolled {
    display: block;
}

#nextSec {
    display: block; /* shown by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    z-index: 98; /* Make sure it does not overlap */
    background-color: transparent; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    box-shadow: none;
}

#nextSec.scrolled {
  display: none !important;
}

.navbar {
  background-color: $myPrime;
}

.navbar-nav {
  display: flex !important;
}

.navbar-brand {
  align-self: center;
  letter-spacing: 0.375rem;
  font-size: 1.25rem;
}

.collapse {
  .btn {
    font-size: 1rem;
  }
}

.bc-myPrime {
  background-color: $myPrime;
}

.bc-mySecondary {
  background-color: $mySecondary;
}

.bc-myBackground {
  background-color: $myBackground;
}

.bc-myOrange {
  background-color: $myOrange;
}

.bc-myLightBlue {
  background-color: $myLightBlue;
}

.bc-myDarkBlue {
  background-color: $myDarkBlue !important;
}

.bc-myBrown {
  background-color: $myBrown;
}

.btn-rounded {
    border-radius: 1000rem;
    font-size: larger;
}

.letter-spacing-3 {
  letter-spacing: 0.3rem;
}

.letter-spacing-2 {
  letter-spacing: 0.2rem;
}

.letter-spacing-1 {
  letter-spacing: 0.1rem;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: $myPrime;
}

.myPrime-text {
  color: $myPrime !important;
}

.mySecondary-text {
  color: $mySecondary !important;
}

.myLightBlue-text {
  color: $myLightBlue !important;
}

.myDarkBlue-text {
  color: $myDarkBlue !important;
}

.parallax {
    background-attachment: fixed;
}

.blue-border {
  border-color: $myPrime;
  border-width: 2px;
  border-style: solid;
}

.grey-border {
  border-color: $myBorderColor;
  border-width: 2px;
  border-style: solid;
}

.tag {
  border-radius: 5px;
  box-shadow: none;
  font-size: 1rem;
  cursor: auto;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-45 {
  width: 45%;
}

.card-text {
  line-height: 1.5rem;
}

.modal-body {
  p {
    font-size: 0.875rem !important;
  }
  h5 {
    font-size: 1rem;
  }
  .grey-border {
    border-width: 1px;
  }
  .bc-myBrown {
    position: relative;
    border-left: 0;
    border-right: 0;
    padding-top: 1rem;
  }
  .wh-150 {
    width: 150px !important;
    height: 150px !important;
  }
  .avatar {
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    top: -69px !important;
    left: 0;
    right: 0;
  }
}

.modal-footer {
  border-top: 0;
}

.mentorCard {
    position: relative;
    margin-top: 5rem;
    height: 85%;
    .view {
      height: auto;
    }
    .avatar {
      width: 96px;
      height: 96px;
      position: absolute;
      top: -56px;
      left: 0;
      right: 0;
    }
    .modal-toggle {
      height: 30px;
    }
    .modal-toggle:hover {
      border-bottom: 2px solid $myPrime;
    }
    .modal-dialog {
      max-width: 10000px;
      width: 65%;
    }
    .close {
      font-size: 3rem;
      font-weight: 350;
      line-height: 0.5;
      position: absolute;
      top: 0;
      right: 0;
    }
    p {
      font-size: 16px;
    }
    .small-text {
      font-size: 12px;
    }
}

#homeCover {
    background-image: url("../img/cover/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mentorPageCover {
  background-image: url("../img/cover/helloquence-61189.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#value {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
    h1 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
}

#howItWorks {
   background-color: $mySecondary;
   // background-image: url("../img/cover/.jpg");
}

#mentors {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
}

#team {
    background-color: $myBackground;
    // background-image: url("../img/cover/.jpg");
    p {
      font-size: 1rem;
    }
    h1 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
}

#partners {
    background-color: $myPrime;
    // background-image: url("../img/cover/.jpg");
    h1 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
}

#subscribe {
    /*background-image: url("../img/cover/.jpg");*/
    background-color: $myOrange;
    /*display: none;*/
    h3 {
      margin-bottom: 3rem;
    }
}

#mc_embed_signup {
  width: 40%;
}

#mce-EMAIL {
  background-color: $myBackground !important;
  border-radius: 10000px !important;
  box-shadow: none !important;
  border-width: 0 !important;
  height: 100% !important;
  padding: 0 !important;
  min-height: 56px !important;
}

#mce-EMAIL::placeholder {
  color: $myPrime !important;
  margin-left: 1rem !important;
}

#submitBtn {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
}

#mc-embedded-subscribe {
  border-radius: 10000px !important;
  box-shadow: none;
  border-width: 3px !important;
  border-color: $myBackground !important;
  font-size: larger;
}

.mc-field-group {
  margin-bottom: 0;
}

.mce_inline_error {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 50 !important;
}

.md-form {
  margin-bottom: 0 !important;
}

footer {
  h5 {
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

#social_media_links {
  a {
    border-radius: 50%;
    border-color: $myBackground;
    border-style: solid;
    overflow: hidden;
    width: 47px;
    height: 47px;
  }
}

@media only screen and (max-width: 321px) {
  #nextSec {
    display: none !important;
  }
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: auto;
  }
  .navbar-nav {
    display: none !important;
  }
  .h3-responsive {
    font-size: 1rem;
  }
  .h1-responsive {
    font-size: 1.5rem;
  }
  .mentorCard {
    .modal-dialog {
      width: auto;
    }
    .my-modal-header {
      margin-left: 1.5rem;
      margin-bottom: 5rem;
    }
    .modal-body {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .bc-myBrown {
        padding-top: 1.5rem;
        border-left: 1px solid $myBorderColor;
        border-right: 1px solid $myBorderColor;
      }
    }
    .rounded-md-right {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
  }
  .w-30, .w-35, .w-45 {
    width: 100%;
  }
  .mc-field-group {
    margin-bottom: 1rem;
  }

  #value, #team, #partners {
    h1 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  #value {
    h2 {
      margin-top: 1rem;
    }
  }
  #deskCTAbtns {
    display: none !important;
  }
  #mc_embed_signup {
    width: 100%;
  }
  #submitBtn {
    position: relative;
  }
  #backToTop.scrolled {
      display: none !important;
  }
  #bottomNav.scrolled {
    display: block !important;
  }
  #drift-widget {
    display: none !important;
  }
  header {
    ul {
      display: none !important;
    }
  }
  footer {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 768px) {
    .h5-responsive {
        font-size: 100%;
    }
    #subscribe {
        /*background-image: url("../img/cover/.jpg");*/
        background-color: $myOrange;
        /*display: none;*/
        h3 {
          margin-bottom: 1rem;
        }
        h4 {
          padding-bottom: 0 !important;
        }
    }

}

@media (min-width: 776px) {
}

@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 200%;
  }
  .h2-responsive {
    font-size: 160%;
  }
  .h4-responsive {
    font-size: 125%;
  }
}
