/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body,
.wide,
.view {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #2C4F6C;
  -webkit-font-smoothing: subpixel-antialiased; }

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.view {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 25em;
  line-height: 1.4; }

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5em;
  max-width: 35em; }

.h3-responsive {
  font-size: 1.25rem; }

.h1-responsive {
  font-size: 2rem; }

#backToTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  left: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  background-color: #2C4F6C;
  /* Set a background color */
  color: #FAFAFA;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */ }

#backToTop.scrolled {
  display: block; }

#nextSec {
  display: block;
  /* shown by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  z-index: 98;
  /* Make sure it does not overlap */
  background-color: transparent;
  /* Set a background color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  box-shadow: none; }

#nextSec.scrolled {
  display: none; }

.navbar {
  background-color: #2C4F6C; }

.navbar.scrolled {
  background-color: #2C4F6C;
  transition: background-color 200ms linear; }

.navbar-brand {
  align-self: center;
  letter-spacing: 0.375rem;
  font-size: 1.25rem; }

.collapse .btn {
  font-size: 1rem; }

.bc-myPrime {
  background-color: #2C4F6C; }

.bc-mySecondary {
  background-color: #A3CCC7; }

.bc-myBackground {
  background-color: #FAFAFA; }

.bc-myOrange {
  background-color: #F6D8AE; }

.bc-myLightBlue {
  background-color: #BCD1E3; }

.bc-myDarkBlue {
  background-color: #213C52 !important; }

.btn-rounded {
  border-radius: 1000rem;
  font-size: larger; }

.letter-spacing-3 {
  letter-spacing: 0.3rem; }

.letter-spacing-2 {
  letter-spacing: 0.2rem; }

.letter-spacing-1 {
  letter-spacing: 0.1rem; }

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out; }

.top-nav-collapse {
  background-color: #2C4F6C; }

.myPrime-text {
  color: #2C4F6C !important; }

.mySecondary-text {
  color: #A3CCC7 !important; }

.myLightBlue-text {
  color: #BCD1E3 !important; }

.parallax {
  background-attachment: fixed; }

.mentorCard {
  position: relative;
  width: 30%;
  border-width: 2px;
  border-color: #E0E0E0;
  border-style: solid; }
  .mentorCard .view {
    height: auto; }
  .mentorCard img {
    border-color: #2C4F6C;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: -56px;
    left: 0;
    right: 0; }
  .mentorCard p {
    font-size: 0.75rem; }

#homeCover {
  background-image: url("../img/cover/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#value {
  background-color: #FAFAFA; }

#howItWorks {
  background-color: #A3CCC7; }

#mentors {
  background-color: #FAFAFA; }

#team {
  background-color: #FAFAFA; }
  #team p {
    font-size: 1rem; }

#partners {
  background-color: #2C4F6C; }

#subscribe {
  /*background-image: url("../img/cover/.jpg");*/
  background-color: #F6D8AE;
  /*display: none;*/ }

#mc_embed_signup {
  width: 40%; }

#mce-EMAIL {
  background-color: #FAFAFA !important;
  border-radius: 10000px !important;
  box-shadow: none !important;
  border-width: 0 !important;
  height: 100% !important;
  padding: 0 !important;
  min-height: 56px !important; }

#mce-EMAIL::placeholder {
  color: #2C4F6C !important;
  margin-left: 1rem !important; }

#submitBtn {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0; }

#mc-embedded-subscribe {
  border-radius: 10000px !important;
  box-shadow: none;
  border-width: 3px !important;
  border-color: #FAFAFA !important; }

.mc-field-group {
  margin-bottom: 0; }

.mce_inline_error {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  z-index: 50 !important; }

.md-form {
  margin-bottom: 0 !important; }

footer h5 {
  margin-bottom: 1.5rem; }

footer p {
  font-size: 1rem; }

@media only screen and (max-width: 767px) {
  .h3-responsive {
    font-size: 1rem; }
  .h1-responsive {
    font-size: 1.5rem; }
  .mentorCard {
    width: 100%;
    margin-top: 5rem; }
  .mc-field-group {
    margin-bottom: 1rem; }
  #mc_embed_signup {
    width: 100%; }
  #submitBtn {
    position: relative; } }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2C4F6C; }
  .h5-responsive {
    font-size: 100%; } }
