/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body,
.wide,
.view {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  color: #202A34;
  -webkit-font-smoothing: subpixel-antialiased; }

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.view {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

hr {
  border-color: #254E6D;
  border-width: 3px;
  max-width: 50px; }

.white {
  border-color: #FAFAFA; }

#backToTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  background-color: #254E6D;
  /* Set a background color */
  color: #FAFAFA;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */ }

#backToTop.scrolled {
  display: block; }

.navbar {
  background-color: #254E6D; }

.navbar.scrolled {
  background-color: #254E6D;
  transition: background-color 200ms linear; }

.navbar-brand {
  align-self: center; }

.collapse .btn {
  font-size: 1rem; }

.content {
  margin-bottom: 10rem; }

.bc-myPrime {
  background-color: #254E6D; }

.bc-mySecondary {
  background-color: #202A34; }

.bc-myBackground {
  background-color: #FAFAFA; }

.bc-myShadow {
  background-color: #5F5E65; }

.btn-rounded {
  border-radius: 1000rem;
  font-size: larger; }

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out; }

.top-nav-collapse {
  background-color: #254E6D; }

.h1-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 1em; }

.h4-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem; }

.my-6 {
  margin-top: 10rem;
  margin-bottom: 3rem; }

.myPrime-text {
  color: #254E6D; }

.mySecondary-text {
  color: #202A34; }

.parallax {
  background-attachment: fixed; }

#homeCover {
  background-image: url("../img/cover/al-ghazali-366777.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#value {
  background-color: #FAFAFA; }

#howItWorks {
  background-color: #5F5E65; }

#mentors {
  background-color: #254E6D; }

#team {
  background-color: #FAFAFA; }

#partners {
  background-color: #5F5E65; }

#subscribe {
  /*background-image: url("../img/cover/.jpg");*/
  background-color: #254E6D;
  /*display: none;*/ }

.md-form .btn {
  margin-bottom: 0; }

.page-footer {
  background-color: #254E6D; }

.footer-copyright {
  background-color: #202A34; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #254E6D; }
  .h5-responsive {
    font-size: 100%; }
  .my-6 {
    margin-top: 5rem; } }
